.input{
    height: 60px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(24, 5, 59);
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1px 1px white;
}